<!internal.css>
body {
  background-color:#D5BFBF;
  font-family:DejaVu Sans Mono;
  font-weight:400; font-variant:normal;
  color:white; font-style:italic;
  background-image:
  url(https://lh3.googleusercontent.com/9hL1D8rZ0oG9tpWBho8yqSiblXLFcPdgMe87GsoPXQLDqvcRMzhVZpFFfezmOfpGaGbf3MaM4Kuy6Cf5K3vZH8oo-S7orc7srR2Ltdwm4WzF6BklpHhOiv7Wa6KeQoMbcEdiLtMZtbPD3MCgjpw6U-tu3GEcbfitcTf9parSBXJNiWq09-yvFyn-SSPyiImXiA_2nKiWze0Omf-Beatd2i_0qWli_2WpM-mpjbbxdLfYKsbQIBsBtBoJuDKUbMZ4L36LLMWw0xUFMWxzgMR58XxMTMgKpUc4QbJxdAu3nld1Uk_q5Zg8l_NNdYIbluhbkTVQ1f-QVFVH8eOt-7ze0e8qclAsl3UesTXBPXoZvRaHejdscZH_mfEudbB_oJTOYg_J5OcFRvji5qgyvzt6sNzN5PlGp6CL5ihh4VUUseiu_BYLNH51Orji_xfyXEAMa0kCIucLV16ioHiuu5Kt-IXhtlcOXUJTtRyvrjUQp2-nu-_sttsVRO565y49aY8VeK2YYSo9vBfN9DF3tidhn5IcNYqYPhByBt5_ON70U7cQUXe9RnRayLhVevuRrqRYEF_Jj8kyq_Z6XXoHxi1TOqvUR1tb41-9FHeNfyoNyY8fEi8oYYElOMTbBj3kufGkrdglRiImD1Hqht_dM390GiNndLcRYVU2A8SZOEtl9xbatwt38DR8BAh_Ou2WPhsDMEaUaj2fIMxr9jtCzMl2BUiDRg=w608-h1080-no?authuser=0.png);
  background-repeat:no-repeat;
  background-size:100%;

}

nav{
 display: flex;
 height:75px;
background-color:royalblue;

  }

header {
 display: flex;
   height:400px;
background-color:lightskyblue;

}

section {
    position:relative;
 display: flex;
   height:500px;
  background-color:gray;
    margin:75px;
    padding:100px;

}


.rr {
  display: flex;
   height:40px;
  background:silver;

}

footer {
   display: flex;
   height:100px;
  background-color:Black;
  color:white;
}

.p {
    position:relative;
   height:200px;
  background-color:khaki;
margin-bottom:75px;
       margin:-100px;
    padding:-100px;


}

#box {
    display: flex;
  position:relative;
      justify-content:box;
   height:200px;
   width:48%;
  background-color:tomato;
   margin: 10px;
  bottom:-150px;


}
